# =========================
# Dependencies
# =========================
node_modules/
.pnp/
.pnp.js

# =========================
# Build output
# =========================
dist/
build/
out/
lib/
coverage/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

.idea/
*.iml

# =========================
# Testing
# =========================
jest-html-reporters-attach/
coverage/

# =========================
# Cache / Temp
# =========================
.cache/
.tmp/
temp/

# =========================
# Package managers
# =========================
yarn.lock
pnpm-lock.yaml

package-lock.json

